    IMPORT LIBRARIES!

In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
import pandas as pd
df = pd.read_csv(r"C:\Users\USER\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='ISO-8859-1')
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [3]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [7]:
print(df.columns)

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

Question 1
What is the total number of unique countries in the dataset?

In [8]:
unique_countries = df['Area'].nunique()
print("Total unique countries:", unique_countries)

Total unique countries: 49

Question 3
Which year had the least correlation with â€˜Element Codeâ€™?

In [9]:
correlation_2014 = df['Element Code'].corr(df['Y2014'])
correlation_2015 = df['Element Code'].corr(df['Y2015'])
correlation_2016 = df['Element Code'].corr(df['Y2016'])
correlation_2017 = df['Element Code'].corr(df['Y2017'])

In [12]:
print('Correlation with Element Code:')
print('2014:', correlation_2014)
print('2015:', correlation_2015)
print('2016:', correlation_2016)
print('2017:', correlation_2017)
min_correlation = min(correlation_2014, correlation_2015, correlation_2016, correlation_2017)
print('Minimum correlation:', min_correlation)

Correlation with Element Code:
2014: 0.024456819495221795
2015: 0.02388919930163992
2016: 0.023443997584961428
2017: 0.02425400776004572
Minimum correlation: 0.023443997584961428

This means that the minimum correlation year is 2016

Question 5
Perform a groupby operation on â€˜Elementâ€™.  What year has the highest sum of Stock Variation

In [14]:
Sum_of_Stock_Variation = df.groupby('Element')['Element'].sum()
df.groupby('Element').max()

,Area Code,Area,Item Code,Item,Element Code,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,,,,
Domestic supply quantity,276,Zimbabwe,2961,Yams,5301,1000 tonnes,108756.00,110798.00,116483.00,112625.00,117038.00
Export Quantity,276,Zimbabwe,2961,Yams,5911,1000 tonnes,39686.00,52578.00,35420.00,34641.00,34641.00
Fat supply quantity (g/capita/day),276,Zimbabwe,2961,Yams,684,g/capita/day,93.73,96.79,94.33,97.13,94.94
Feed,276,Zimbabwe,2960,Yams,5521,1000 tonnes,29797.00,30472.00,31607.00,29580.00,31567.00
Food,276,Zimbabwe,2961,Yams,5142,1000 tonnes,49014.00,50705.00,52612.00,51220.00,54077.00
Food supply (kcal/capita/day),276,Zimbabwe,2961,Yams,664,kcal/capita/day,3435.00,3454.00,3451.00,3457.00,3450.00
Food supply quantity (kg/capita/yr),276,Zimbabwe,2961,Yams,645,kg,428.27,418.21,419.48,433.38,443.56
Import Quantity,276,Zimbabwe,2961,Yams,5611,1000 tonnes,19582.00,18824.00,19858.00,18627.00,18036.00
Losses,276,Zimbabwe,2949,Yams,5123,1000 tonnes,9807.00,9999.00,10432.00,10342.00,10355.00
Other uses (non-food),276,Zimbabwe,2961,Yams,5154,1000 tonnes,12552.00,6001.00,6099.00,17219.00,17221.00
Processing,276,Zimbabwe,2948,Wine,5131,1000 tonnes,18383.00,21609.00,21739.00,22174.00,22609.00
Production,276,Zimbabwe,2961,Yams,5511,1000 tonnes,109593.00,111663.00,119330.00,117702.00,118172.00
Protein supply quantity (g/capita/day),276,Zimbabwe,2961,Yams,674,g/capita/day,100.34,100.33,100.94,100.10,101.08
Residuals,276,Zimbabwe,2949,Yams,5170,1000 tonnes,16697.00,16136.00,18077.00,17476.00,17323.00
Seed,276,Zimbabwe,2960,Yams,5527,1000 tonnes,1258.00,1352.00,1402.00,1453.00,1474.00
Stock Variation,276,Zimbabwe,2961,Yams,5072,1000 tonnes,4569.00,3418.00,3266.00,5089.00,2226.00
Total Population - Both sexes,276,Zimbabwe,2501,Population,511,1000 persons,176405.00,181137.00,185960.00,190873.00,195875.00
Tourist consumption,193,Sao Tome and Principe,2949,Yams,5171,1000 tonnes,62.00,48.00,6.00,6.00,6.00

In [17]:
highest_year =  df.loc[:, 'Y2014':'Y2017'].sum().idxmax()
print(highest_year)

Y2017

 2017 has the highest sum of Stock Variation

In [51]:
Sum_of_Wine = df.groupby('Item')['Item'].sum()
Sum_of_Wine_2015_2018 = df[df['Item'] == 'Wine'].groupby('Item')[['Y2015', 'Y2018']].sum()
print(Sum_of_Wine)
print(Sum_of_Wine_2015_2018)

Item
Alcohol, Non-Food      Alcohol, Non-FoodAlcohol, Non-FoodAlcohol, Non...
Alcoholic Beverages    Alcoholic BeveragesAlcoholic BeveragesAlcoholi...
Animal Products        Animal ProductsAnimal ProductsAnimal ProductsA...
Animal fats            Animal fatsAnimal fatsAnimal fatsAnimal fatsAn...
Apples and products    Apples and productsApples and productsApples a...
                                             ...
Vegetables, Other      Vegetables, OtherVegetables, OtherVegetables, ...
Vegetal Products       Vegetal ProductsVegetal ProductsVegetal Produc...
Wheat and products     Wheat and productsWheat and productsWheat and ...
Wine                   WineWineWineWineWineWineWineWineWineWineWineWi...
Yams                   YamsYamsYamsYamsYamsYamsYamsYamsYamsYamsYamsYa...
Name: Item, Length: 119, dtype: object
        Y2015    Y2018
Item
Wine  4251.81  4039.32

Question
Perform a groupby operation on â€˜Elementâ€™.  What is the total number of the sum of Processing in 2017?

In [28]:
Sum_of_Processing = df[df['Element'] == 'Processing'].groupby('Element')['Y2017'].sum()
print(Sum_of_Processing)

Element
Processing    292836.0
Name: Y2017, dtype: float64

Question
Select columns â€˜Y2017â€™ and â€˜Areaâ€™, Perform a groupby operation on â€˜Areaâ€™.  Which of these Areas had the 7th lowest sum in 2017?

In [54]:
group = df[['Area', 'Y2017']].groupby('Area').sum()
seventh_lowest = group.sort_values('Y2017').iloc[6]
print(seventh_lowest)

Y2017    19102.77
Name: Guinea-Bissau, dtype: float64

Question
A pandas Dataframe with dimensions (100,3) has how many features and observations?
Answer: 3 features (columnw) and 100 Observations (rows)

Question
What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [5]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [56]:
missing_data =  df['Y2014'].isnull().sum()
total_values =  df.shape[0]
percentage_missing = (missing_data / total_values) * 100

print(f"Total missing values: {missing_data}")
print(f"Percentage of missing values: {percentage_missing:.3f}%")

Total missing values: 1589
Percentage of missing values: 2.607%

Question
What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [55]:
mean_2017 =  df['Y2017'].mean()
std_2017 =  df['Y2017'].std()

print(f"Mean for 2017: {mean_2017:.2f}")
print(f"Standard Deviation for 2017: {std_2017:.2f}")

Mean for 2017: 140.92
Standard Deviation for 2017: 1671.86

Question
What is the total Protein supply quantity in Madagascar in 2015?

In [63]:
Total_protein_supply = df[(df['Element'] == 'Protein supply quantity (g/capita/day)') & (df['Area'] == 'Madagascar')]['Y2015'].sum()
print(Total_protein_supply)

173.04999999999998

Question
Select columns â€˜Y2017â€™ and â€˜Areaâ€™, Perform a groupby operation on â€˜Areaâ€™.  Which of these Areas had the highest sum in 2017?

In [66]:
group = df[['Area', 'Y2017']].groupby('Area').sum()
highest_sum = group.sort_values('Y2017', ascending=False).iloc[0]
print(highest_sum)

Y2017    1483268.23
Name: Nigeria, dtype: float64

        THE END!!